[workspace]
members = [
  "crates/core",
  "crates/codegen",
  "crates/lexer",
  "crates/utils",
  "bin/cli",
  "crates/parser",
  "crates/js",
  "crates/tests"
]
exclude = [ "assets", "huff-neo-up", "huff-examples" ]
default-members = ["bin/cli"]
resolver = "2"

[workspace.package]
version = "0.0.1"
edition = "2021"
readme = "README.md"
repository = "https://github.com/cakevm/huff-neo"
license = "MIT OR Apache-2.0"

[workspace.dependencies]
huff-neo-core = { path = "crates/core" }
huff-neo-codegen = { path = "crates/codegen" }
huff-neo-lexer = { path = "crates/lexer" }
huff-neo-parser = { path = "crates/parser" }
huff-neo-utils = { path = "crates/utils" }
huff-neo-tests = { path = "crates/tests" }
huff-neo-js = { path = "crates/js" }


clap = { version = "3.1.18", features = ["derive"] }
comfy-table = "6.0.0"
tracing = "0.1.34"
ethers-core = "1.0.2"
yansi = "0.5.1"
spinners = "4.1.0"
uuid = { version = "1.1.1", features = ["v4"] }
isatty = "0.1.9"
serde_json = "1.0.81"
hex = "0.4.3"
regex = "1.6.0"
tracing-subscriber = { version = "0.3", default-features = false, features = ["env-filter", "fmt"] }
tracing-test = "0.2.2"
walkdir = "2"
cfg-if = "1"
serde = { version = "1.0", features = ["derive", "rc"] }
serde-wasm-bindgen = "0.4"
wasm-bindgen = "0.2"
revm = "19.1.0"
phf = { version = "0.11.1", features = ["macros"] }
strum = "0.24"
strum_macros = "0.24"
codemap-diagnostic = "0.1.1"
lazy_static = "1"
pathdiff = "0.2.1"
itertools = "0.10.3"
tiny-keccak = { version = "2.0.2", features = ["keccak"] }
toml = "0.5.9"
js-sys = { version = "0.3" }
alloy-primitives = "0.8"

#dev
criterion = "0.3.5"
rand = "0.8.5"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
debug = true
