[workspace]
default-members = ["bin/hnc"]
exclude = ["assets", "hnc-up", "huff-examples"]
members = ["bin/hnc", "crates/codegen", "crates/core", "crates/js", "crates/lexer", "crates/parser", "crates/tests", "crates/utils"]
resolver = "2"

[workspace.package]
edition = "2021"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/cakevm/huff-neo"
version = "0.0.4"

[workspace.dependencies]
huff-neo-codegen = { path = "crates/codegen" }
huff-neo-core = { path = "crates/core" }
huff-neo-lexer = { path = "crates/lexer" }
huff-neo-parser = { path = "crates/parser" }
huff-neo-tests = { path = "crates/tests" }
huff-neo-utils = { path = "crates/utils" }

alloy-dyn-abi = "0.8.18"
alloy-primitives = "0.8.18"
cfg-if = "1.0.0"
clap = { version = "4.5.23", features = ["derive"] }
comfy-table = "7.1.3"
hex = "0.4.3"
itertools = "0.14.0"
js-sys = { version = "0.3.76" }
lazy_static = "1.5.0"
phf = { version = "0.11.1", features = ["macros"] }
rand = "0.8.5"
regex = "1.11.1"
revm = "19.1.0"
shadow-rs = "0.37.0"
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", default-features = false, features = ["env-filter", "fmt"] }
uuid = { version = "1.11.0", features = ["v4"] }
walkdir = "2.5.0"
wasm-bindgen = "0.2"
yansi = "1.0.1"

# serde
serde = { version = "1.0", features = ["derive", "rc"] }
serde-wasm-bindgen = "0.6.5"
serde_json = "1.0.131"
strum = "0.26.3"
strum_macros = "0.26.4"
toml = "0.8.19"

# dev
criterion = "0.5.1"
getrandom = { version = "0.2.15", features = ["js"] }
rayon = "1.10.0"

[profile.test]
debug = 1
incremental = true

[profile.release]
codegen-units = 32
debug = "line-tables-only"
lto = "thin"
opt-level = 3
panic = "unwind"
strip = true # stripping of debuginfo

# https://deterministic.space/high-performance-rust.html
[profile.maxperf]
# set parallel codegen to 1 to increase performance
codegen-units = 1
inherits = "release"
lto = "fat"
