[licenses]
allow = [
  # permissive licenses
  "0BSD",
  "Apache-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "BSL-1.0",
  "CDLA-Permissive-2.0",
  "ISC",
  "MIT",
  "MIT-0",
  "Unicode-3.0",
  "Unlicense",
  "Zlib",
  # permissive license with unclear patent grant
  "CC0-1.0",
  # weak/limited copyleft licenses
  "MPL-2.0",
  "OpenSSL", # https://en.wikipedia.org/wiki/OpenSSL#Licensing
]

# Clearify licence: https://github.com/briansmith/ring/issues/902
# Plan to remove OpenSSL: https://github.com/briansmith/ring/issues/1827
[[licenses.clarify]]
expression = "ISC AND MIT AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]
name = "ring"


[advisories]
ignore = [
  # protobuf may crash due to uncontrolled recursion - https://rustsec.org/advisories/RUSTSEC-2024-0437
  "RUSTSEC-2024-0437",
  # paste is unmaintained - hhttps://rustsec.org/advisories/RUSTSEC-2024-0436
  "RUSTSEC-2024-0436",
  # number_prefix is unmaintained - https://rustsec.org/advisories/RUSTSEC-2025-0119
  "RUSTSEC-2025-0119",
  # unsoundness of safe `reciprocal_mg10` - https://rustsec.org/advisories/RUSTSEC-2025-0137
  "RUSTSEC-2025-0137",
  # `IterMut` violates Stacked Borrows - https://rustsec.org/advisories/RUSTSEC-2026-0002
  "RUSTSEC-2026-0002",
]
yanked = "warn"

[bans]
multiple-versions = "allow"

[sources]
allow-git = ["https://github.com/foundry-rs/foundry", "https://github.com/paradigmxyz/solar"]
