[package]
name = "hnc"
version.workspace = true
edition.workspace = true
readme.workspace = true
repository.workspace = true
license.workspace = true
homepage.workspace = true
description = """
Huff Language Compiler built in Pure Rust.
"""
keywords = ["bytecode", "compiler", "evm", "huff", "rust"]
build = "build.rs"

[dependencies]
huff-neo-codegen.workspace = true
huff-neo-core.workspace = true
huff-neo-test-runner.workspace = true
huff-neo-utils.workspace = true

alloy-primitives.workspace = true
clap.workspace = true
comfy-table.workspace = true
foundry-cli.workspace = true
foundry-common.workspace = true
foundry-config.workspace = true
foundry-evm-traces.workspace = true
serde.workspace = true
shadow-rs.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
yansi.workspace = true

[dev-dependencies]
assert_cmd.workspace = true
assert_fs.workspace = true
predicates.workspace = true

[build-dependencies]
shadow-rs.workspace = true

[[bin]]
doc = false
name = "hnc"
path = "src/main.rs"
