name: Release NPM

on:
  push:
    tags:
      - v[0-9]+.*

jobs:
  release-npm:
    name: Release NPM
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write  # Required for OIDC

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
      - uses: dtolnay/rust-toolchain@stable

      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'

      - name: Get version tag
        id: vars
        run: |
          export pkg_version=${GITHUB_REF#refs/*/}
          echo "tag=$pkg_version" >> $GITHUB_OUTPUT

      - name: Install Wasm Pack
        uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: 'latest'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        env:
          PACKAGE_VERSION: ${{ steps.vars.outputs.tag }}
        run: .github/scripts/make_package.sh

      - name: Publish to NPM
        run: npm publish --provenance --access public
        working-directory: ./crates/js/pkg